<div class="container">


<div class="row">

<div class="col-sm-1"> 
</div>
<div class="col-sm-10"> 
<h1>Cite us:</h1>

<div>
<h3 style="font-family: Times; color: black">Mei S, Qin Q, Wu Q, Sun H, Zheng R, Zang C, Zhu M, Wu J, Shi X, Taing L, Liu T, Brown M, Meyer CA, Liu XS. Cistrome data browser: a data portal for ChIP-Seq and chromatin accessibility data in human and mouse. Nucleic Acids Res, 2017 Jan 4;45(D1):D658-D662. <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=27789702" style="text-decoration:none;" target="_blank"> Doi: 10.1093/nar/gkw983</a></h3>
</div>

</div>

<div class="col-sm-1"> 
</div>
</div>

