<!-- <!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="pragma" content="no-cache">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <title>Administration Page</title>
  <link rel="stylesheet" href="http://cistrome.org/db/styles/main.3b350645.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body> -->
<div class="container" ng-init="setCorrectionStatus(0)">
  <h1>Administration Page of Cistrome DB Annotations</h1>
  <br />
  <br />
  <p style="color: blue" align="right"><b>Hello {{username}}! <a href={{login_url}}>Logout</a> here. 
    <br />Please read the instruction before checking the corrections. </b></p>
  <h2>Instruction</h2>
  <p>You are allowed to manage the corrections of annotations on Cistrome Data Browser here.</p>
  <p>There are three tables exhibiting the corrections in database. The <b>"Unsolved"</b> tab shows the corrections that you haven't checked, the <b>"Verified"</b> tab shows the corrections you have already checked and modified in sample database and the last <b>"Deleted"</b> tab shows the useless corrections that you have checked and deleted. </p>
  <p>Each table cells contain two rows, the first row exhibits the values that users submitted and the other row shows the raw data got from database. The first row will be in <b style="color: red">red</b> color if the users summited values are <b>different</b> from the raw values in database.</p>
  <h4>Unsolved tab</h4>
  <p>In this tab, you can check and modify the values that users submitted. The texts in textareas will be <b style="color: red">red</b> if they are <b>different</b> from raw data and remind you to check them carefully to avoid making mistakes.</p>
  <p>The first two columns are the Cistrome Database ID and GSM number of this record. When you click them, they will link to the Cistrome Database inspector api and NCBI records of this sample. In other rows who has textarea, you should check and modify them. The red color just means the values are different.</p>
  <p>Here are two options that you can operate. The <span style="color: red" class="glyphicon glyphicon-remove"></span> button will move this record to the "Deleted" Tab, and the <span style="color: green" class="glyphicon glyphicon-ok"></span> button will <b style="color: red">change the raw record</b> in Cistrome Database and move this record to "Verified" Tab. </p>
  <p>As for "Factor Type" column, you are suppose to input one of <b>"hm"</b>(Histone modification), <b>"ca"</b>(Chromatin accessibility), <b>"tf"</b>(Transcription Factor), <b>"cr"</b>(Chromatin regulator), <b>"not sure"</b> and <b>"other"</b>. However, if you are not sure a factor is exactly behaved as a "tf" but looks like a "tf", you are allowed to input like this: <b>"predicted transcription factor"</b>(Full name will be appreciated.), or a factor takes part in more than one biological processes, you are allowed to input like this: <b>"both predicted transcription factor and chromatin regulator"</b>.</p>
  <h4>Verified tab</h4>
  <p>In this tab, you can find what you have modified. In each cell, the first row shows the what are these records now in Cistrome Database and the other row shows the record when weren't changed.</p>
  <p>Here is an option that you can operate. The <span style="color: orange" class="glyphicon glyphicon-edit"></span> button will move this record to the "Unsolved" Tab and resume Cistrome Database record.</p>
  <h4>Deleted tab</h4>
  <p>In this tab, you will find the records you have deleted. Same as the "Unsolved" tab, the first row exhibits the values that users submitted and the other row shows the raw data got from database.</p>
  <p>Here are two options that you can operate. The <span style="color: red" class="glyphicon glyphicon-trash"></span> button will delete this record and you won't find it unless check the MySQL tables, and the <span style="color: orange" class="glyphicon glyphicon-pencil"></span> button will move this record to the "Unsolved" Tab for checking it later. </p>
  <br />
</div>
<div class="container-fluid">
  <ul class="nav nav-tabs nav-justified" role="tablist" id="toolTab">
    <li class="active"><a href="#Unsolved" data-toggle="tab" dc-tab ng-click="setCorrectionStatus(0)">Unsolved</a></li>
    <li><a href="#Verified" data-toggle="tab" dc-tab ng-click="setCorrectionStatus(1)">Verified</a></li>
    <li><a href="#Deleted" data-toggle="tab" dc-tab ng-click="setCorrectionStatus(-1)">Deleted</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="Unsolved">
      <div class="container-fluid">
        <div class="row">
          <div class="table-responsive" id="Unsolved-content">
            <table class="table table-bordered table-striped col-md-10">
              <tr>
                <th>CistromeDB ID</th>
                <th>Raw Link</th>
                <th>Treatment</th>
                <th>Species</th>
                <th>PMID</th>
                <th>Factor</th>
                <th>Factor Type</th>
                <th>Cell Line</th>
                <th>Cell Type</th>
                <th>Cell Pop</th>
                <th>Strain</th>
                <th>Tissue</th>
                <th>Disease</th>
                <th>Time</th>
                <th>Comment</th>
                <th>Email</th>
                <th width="110">Management</th>
              </tr>
              <tr ng-repeat="correct in corrects">
                <td><a href="http://dc2.cistrome.org/api/inspector?id={{correct.dc_id_id}}" ng-bind="correct.dc_id_id" target="_blank"></a></td>
                <td><a href={{correct.link}} ng-bind="correct.dc_id__unique_id" target="_blank"></a></td>
                <td><textarea class="form-control" style="color: {{commentUniColor(correct.raw_name,correct.treatment)}}" ng-model="correct.treatment"></textarea>
                  <span>{{correct.raw_name}}</span></td>
                <td><textarea class="form-control" style="color: {{commentUniColor(correct.raw_species, correct.species)}}" ng-model="correct.species"></textarea>
                  <span>{{correct.raw_species}}</span></td>
                <td><textarea class="form-control" style="color: {{commentUniColor(correct.raw_pmid, correct.pmid)}}" ng-model="correct.pmid"></textarea>
                  <span>{{correct.raw_pmid}}</span></td>
                <td><textarea class="form-control" style="color: {{commentUniColor(correct.raw_factor, correct.factor)}}" ng-model="correct.factor"></textarea>
                  <span>{{correct.raw_factor}}</span></td>
                <td><textarea class="form-control" style="color: {{commentUniColor(correct.raw_factor_type, correct.factor_type)}}" ng-model="correct.factor_type"></textarea>
                  <span>{{correct.raw_factor_type}}</span></td>
                <td><textarea class="form-control" style="color: {{commentUniColor(correct.raw_cell_line, correct.cell_line)}}" ng-model="correct.cell_line"></textarea>
                  <span>{{correct.raw_cell_line}}</span></td>
                <td><textarea class="form-control" style="color: {{commentUniColor(correct.raw_cell_type, correct.cell_type)}}" ng-model="correct.cell_type"></textarea>
                  <span>{{correct.raw_cell_type}}</span></td>
                <td><textarea class="form-control" style="color: {{commentUniColor(correct.raw_cell_pop, correct.cell_pop)}}" ng-model="correct.cell_pop"></textarea>
                  <span>{{correct.raw_cell_pop}}</span></td>
                <td><textarea class="form-control" style="color: {{commentUniColor(correct.raw_strain, correct.strain)}}" ng-model="correct.strain"></textarea>
                  <span>{{correct.raw_strain}}</span></td>
                <td><textarea class="form-control" style="color: {{commentUniColor(correct.raw_tissue, correct.tissue)}}" ng-model="correct.tissue"></textarea>
                  <span>{{correct.raw_tissue}}</span></td>
                <td><textarea class="form-control" style="color: {{commentUniColor(correct.raw_disease, correct.disease)}}" ng-model="correct.disease"></textarea>
                  <span>{{correct.raw_disease}}</span></td>
                <td>{{correct.time}}</td>
                <td>{{correct.comment}}</td>
                <td>{{correct.email}}</td>
                <td><button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="changeStatus(correct.id,-1,0)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                  <button type="button" class="btn btn-success" aria-label="Left Align" ng-click="postCorrection(correct.id, correct.dc_id_id, correct.treatment, correct.species, correct.pmid, correct.factor, correct.factor_type, correct.cell_line, correct.cell_type, correct.cell_pop, correct.strain, correct.tissue, correct.disease)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="Verified">
      <div class="container-fluid">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-bordered table-striped col-md-10">
              <tr>
                <th>CistromeDB ID</th>
                <th>Raw Link</th>
                <th>Treatment</th>
                <th>Species</th>
                <th>PMID</th>
                <th>Factor</th>
                <th>Cell Line</th>
                <th>Cell Type</th>
                <th>Cell Pop</th>
                <th>Strain</th>
                <th>Tissue</th>
                <th>Disease</th>
                <th>Time</th>
                <th>Comment</th>
                <th>Email</th>
                <th width="50">Management</th>
              </tr>
              <tr ng-repeat="correct in corrects">
                <td><a href="http://dc2.cistrome.org/api/inspector?id={{correct.dc_id_id}}" ng-bind="correct.dc_id_id" target="_blank"></a></td>
                <td><a href={{correct.link}} ng-bind="correct.dc_id__unique_id" target="_blank"></a></td>
                <td>
                  <font color="{{commentUniColor(correct.raw_name,correct.treatment)}}">{{correct.treatment}}</font><br />{{correct.raw_name}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_species,correct.species)}}">{{correct.species}}</font><br />{{correct.raw_species}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_pmid,correct.pmid)}}">{{correct.pmid}}</font><br />{{correct.raw_pmid}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_factor,correct.factor)}}">{{correct.factor}}</font><br />{{correct.raw_factor}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_cell_line,correct.cell_line)}}">{{correct.cell_line}}</font><br />{{correct.raw_cell_line}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_cell_type,correct.cell_type)}}">{{correct.cell_type}}</font><br />{{correct.raw_cell_type}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_cell_pop,correct.cell_pop)}}">{{correct.cell_pop}}</font><br />{{correct.raw_cell_pop}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_strain,correct.strain)}}">{{correct.strain}}</font><br />{{correct.raw_strain}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_tissue,correct.tissue)}}">{{correct.tissue}}</font><br />{{correct.raw_tissue}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_disease,correct.disease)}}">{{correct.disease}}</font><br />{{correct.raw_disease}}
                </td>
                <td>{{correct.time}}</td>
                <td>{{correct.comment}}</td>
                <td>{{correct.email}}</td>
                <td><button type="button" class="btn btn-warning" aria-label="Left Align" ng-click="reEdit(correct.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="Deleted">
      <div class="container-fluid">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-bordered table-striped col-md-10">
              <tr>
                <th>CistromeDB ID</th>
                <th>Raw Link</th>
                <th>Treatment</th>
                <th>Species</th>
                <th>PMID</th>
                <th>Factor</th>
                <th>Cell Line</th>
                <th>Cell Type</th>
                <th>Cell Pop</th>
                <th>Strain</th>
                <th>Tissue</th>
                <th>Disease</th>
                <th>Time</th>
                <th>Comment</th>
                <th>Email</th>
                <th width="110">Management</th>
              </tr>
              <tr ng-repeat="correct in corrects">
                <td><a href="http://dc2.cistrome.org/api/inspector?id={{correct.dc_id_id}}" ng-bind="correct.dc_id_id" target="_blank"></a></td>
                <td><a href={{correct.link}} ng-bind="correct.dc_id__unique_id" target="_blank"></a></td>
                <td>
                  <font color="{{commentUniColor(correct.raw_name,correct.treatment)}}">{{correct.treatment}}</font><br />{{correct.raw_name}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_species,correct.species)}}">{{correct.species}}</font><br />{{correct.raw_species}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_pmid,correct.pmid)}}">{{correct.pmid}}</font><br />{{correct.raw_pmid}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_factor,correct.factor)}}">{{correct.factor}}</font><br />{{correct.raw_factor}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_cell_line,correct.cell_line)}}">{{correct.cell_line}}</font><br />{{correct.raw_cell_line}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_cell_type,correct.cell_type)}}">{{correct.cell_type}}</font><br />{{correct.raw_cell_type}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_cell_pop,correct.cell_pop)}}">{{correct.cell_pop}}</font><br />{{correct.raw_cell_pop}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_strain,correct.strain)}}">{{correct.strain}}</font><br />{{correct.raw_strain}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_tissue,correct.tissue)}}">{{correct.tissue}}</font><br />{{correct.raw_tissue}}
                </td>
                <td>
                  <font color="{{commentUniColor(correct.raw_disease,correct.disease)}}">{{correct.disease}}</font><br />{{correct.raw_disease}}
                </td>
                <td>{{correct.time}}</td>
                <td>{{correct.comment}}</td>
                <td>{{correct.email}}</td>
                <td><button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="changeStatus(correct.id,-2,-1)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                  <button type="button" class="btn btn-warning" aria-label="Left Align" ng-click="changeStatus(correct.id,0,-1)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>
<!--
  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>

</html>-->
