<div class="container">  <!--aboutBox -->
	<div ng-controller="VideoCtrl as controller" class="videogular-container">
		<videogular vg-theme="controller.config.theme"  vg-player-ready="controller.onPlayerReady($API)">
			<vg-media vg-src="controller.config.sources">
			</vg-media>
			<vg-controls>
				<vg-play-pause-button></vg-play-pause-button>
				<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
				<vg-scrub-bar>
					<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
				</vg-scrub-bar>
				<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
				<vg-volume>
					<vg-mute-button></vg-mute-button>
					<vg-volume-bar></vg-volume-bar>
				</vg-volume>
				<vg-fullscreen-button></vg-fullscreen-button>
			</vg-controls>
 
	<vg-overlay-play></vg-overlay-play>
	<vg-buffering></vg-buffering>
	</videogular>
	</div>
	</br>
	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-10">
		<!--	<div>
				<h1>Cite us:</h1>
				<div>Mei S, Qin Q, Wu Q, Sun H, Zheng R, Zang C, Zhu M, Wu J, Shi X, Taing L, Liu T, Brown M, Meyer CA, Liu XS. Cistrome data browser: a data portal for ChIP-Seq and chromatin accessibility data in human and mouse. Nucleic Acids Res, 2017 Jan 4;45(D1):D658-D662. <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=27789702" style="text-decoration:none;" target="_blank"> Doi: 10.1093/nar/gkw983</a></div>
			</div>-->
			<div>
				<h1>Cite us:</h1>
				<div>
					<li>
						Zheng R, Wan C, Mei S, Qin Q, Wu Q, Sun H, Chen CH, Brown M, Zhang X, Meyer CA, Liu XS. Cistrome Data Browser: expanded datasets and new tools for gene regulatory analysis. Nucleic Acids Res, 2018 Nov 20. <a href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gky1094/5193328" style="text-decoration:none;" target="_blank"> Doi: 10.1093/nar/gky1094</a>
					</li>
					<li>
						Mei S, Qin Q, Wu Q, Sun H, Zheng R, Zang C, Zhu M, Wu J, Shi X, Taing L, Liu T, Brown M, Meyer CA, Liu XS. Cistrome data browser: a data portal for ChIP-Seq and chromatin accessibility data in human and mouse. Nucleic Acids Res, 2017 Jan 4;45(D1):D658-D662. <a href="https://academic.oup.com/nar/article/45/D1/D658/2333932" style="text-decoration:none;" target="_blank"> Doi: 10.1093/nar/gkw983</a>
					</li>
				</div>
			</div>
			<h1>Quick Start Guideline </h1>
			<div>
				Guide video above introduces basis usage of Cistrome DB. Users can also start their data mining by following instruction. 
			</div>

			<h3>1.  Search your interesting assay, cell or tissue</h3>
			<div>Cistrome DB contains two options for searching the database,One is to select assay, species or biological sources, The other is based on advanced searching box. Searching result will list with a table of matched datasets. User can view detail data annotations; analysis result and QC metric by click dataset.</div>
			<img src="1.png" class="img-responsive"></img>

			<h3>2.  Result page for individual dataset</h3>
			<div>Each ChIP-seq and DNase-seq sample have a unique dataset ID, Cistrome DB comprises manually curated metadata annotations for each dataset, including species, factors, biological source, publication and process status.  After clicking interested dataset, result page for individual sample will shows as follows.  Result page contains detail metadata annotations, quality control report, analysis result and download section.  User can also send data to our Cistrome analysis pipeline for subsequential analysis. Details explanation of QC sees in <a href="http://cistrome.org/chilin/_downloads/instructions.pdf">ChiLin document</a>.
			<img src="2.png" class="img-responsive"></img>
			<img src="3.png" class="img-responsive"></img>
			</div>

			<h3>3. Batch samples genome browser display</h3>
			<div>
			Besides metadata collection and data processing. CistromeDB also provide users batch data view function.  After selected interested dataset, user can send data to genome browser for association study, such as co-factors, relationship between chromatin regulators and histone modifications.    
			</div>

			<img src="7.png" class="img-responsive"></img>

			<h3>4. Get ChIP-seq putative targets and search interesting targets</h3>

			<div>
			To help user quickly locate putative targets. Cistrome DB provided two options for putative targets view. On the one hand, user can get whole list of putative targets by click "get top putative targets" menu. On the other hand, user can also enter the gene symbols to search intersected target.
			</div>
			<div>
			<img src="6.png" class="img-responsive"></img>
			</div>
			<div class="col-sm-1">
			</div>
			</div>
			</div>
			<!-- FAQ -->
			<!-- <div class="container">


			<div class="row"> -->

			<div class="col-sm-1"> 
			</div>
			<div class="col-sm-10"> 
			<h1>FAQ:</h1>

			<div>
			<h3>1. Why Cistrome DB?</h3>
			To our knowledge, Cistrome DB is so far the most comprehensive database for curated and analyzed multi-resource ChIP-seq and DNase-seq data.
			Cistrome DB is valuable resource for transcriptional and epigenetic gene regulation study. It contains majority of currently available TFs and histone ChIP-seq data. Transcriptional regulation is a complex process, which is controlled by thousands of transcription factors, cofactors and chromatin regulators. With the Cistrome DB data, user can systematically investigate gene expression programs and understand transcriptional regulation.  Divergent cell resource and experiment conditional can be used for tissue specific or developmental study. Besides, Cistrome DB can also be a quality control guideline for ChIP-seq and DNase-seq experiments.
			</div>

			<div>
			<h3>2. What’s in Cistrome DB ?</h3>
			We collected about 47,000 (until February 2018) samples, processed them with a uniform pipeline, and present the analysis results of each sample. In addition, we also provide functions for analysis and visualisation of these datasets.
			Cistrome DB provides four layers of contents. First, it comprises manually curated information for each ChIP-seq and DNase-seq data, including species, factors, biological source, publication, and so on. Second, it provides the analysis results of each public ChIP-seq data from human and mouse, including peak file, reads density file and annotation figures. Third, it provides a comprehensive quality control metrics for each datasets, including quality control for reads level, ChIP level and annotation level. Forth, it also provides functions to analysis and visualizes these datasets; user can directly send data to our <a href="http://cistrome.org/ap/root" >Cistrome analysis pipeline</a> for subsequential analysis. Single and batch dataset visualization through UCSC and WashU genome browser are also supported.
			</div>

			<div>
			<h3>3. How to use Cistrome DB ? </h3>
			Detailed instruction was provided in "Quick start Guideline" part. 
			</div>

			<div>
			<h3>4. Data analysis procedure. </h3>
			In order to keep data consistence, For each dataset, we download raw sequence data and process them with the workflow of Chilin.  Detail informatin can goes to <a href="http://cistrome.org/db/#/about">about</a> page and <a href="http://cistrome.org/chilin/" target="_blank">Chilin</a> (<a href="https://www.ncbi.nlm.nih.gov/pubmed/27716038" target="_blank">DOI:10.1186/s12859-016-1274-4</a>) document.  
			</div>

			<div>
			<h3> 5. Quality control metric. </h3>
			Quality control metric is another important feature in Cistrome DB, it provides 7 QC items across three different layer; In reads layer; Raw sequence median quality score was used to evaluate reads sequence quality, uniquely mapped reads can reflect mapping quality, PCR bottleneck coefficient is used to identify potential over amplification by PCR. In ChIP layer; FRiP score (fraction of non-mitochondrial reads in peak region) and high quality peaks number (10X, 20X) are list to show data quality in ChIP level. In annotation layer; Peaks proportion (in promoter, intron and intragenic region) and peaks overlapping with union DHS (union of DNase1 peaks)  are used to value annotation level QC. Based on our collected datasets, we choose a cut off for each QC criterion and whether a datasets is passing that cut off is display in Cistrome DB result page. Details of quality control metric can be fond in <a href="http://cistrome.org/chilin/">Chilin</a> document. 
			</div>


			<div>
			<h3>6. Problem of (UCSC and WashU) genome browser redirection. </h3>
			Modern web browser always shut off the redirection of the web page. Cistrome Data Browser needs turn on the function for genome browser usage. User needs to allow pop-up window temporarily for this. For Safari, Click Safari -> Preferences -> Advanced -> turn off Block pop-up windows
			</div>

			<div>
			<h3>7. loading speed</h3>
			In order to increase loading and searching speed, we use web browser cache to store some temporary data. It may be a little bit slow when loading page first time. 
			we are still trying to figure out this issue.
			</div>

			<div>
			<h3>8. Cache problem for web browsers.</h3>
			When Cistrome Data browser is updated, user needs to clean up the Cache of their own web browser. For Safari, on the menu, click Safari -> Preferences -> Advanced -> Show Develop menu in menu bar, then click Develop -> Empty Caches.
			</div>
			</div>
		</div>

			<div class="col-sm-1"> 
			</div>
</div>



