<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Batch view samples</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>SELECTION</th>
                    <th>ID</th>
                    <th>GEO</th>
                    <th>NAME</th>
                    <th>SPECIES</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, data) in items">
                    <td>
                        <div class="col-sm-2 col-sm-2">
                        <label class="pull-left" ng-click="deleteone(key)" aria-label="delete" class="cancel-label" style="color:red; border:1px bold">X</label>
                        </div>
                        <div class="col-sm-offset-2 col-sm-6">
                        <input type="checkbox" class="push-right" ng-model="items[key].selected" ng-change="changeSelect(key)" />
                    </div>
                    </td>
                    <td ng-bind="key"></td>
                    <td ng-bind="data[0]"></td>
                    <td ng-bind="data[1]"></td>
                    <td ng-bind="data[2]"></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success" ng-click="clear()">clear all</button>
        <button class="btn btn-success" ng-click="selectAll()">select/unselect all</button>
        <button class="btn btn-success" ng-click="gbSubmit()">Submit to WashU Browser</button>
        <button class="btn btn-success" ng-click="gbSubmit2()">Submit to UCSC Browser</button>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ok()">OK</button>
    </div>
</script>
<toast></toast>
<div class="container">
    <div class="row">
        <div class="form-inline" role="form" id="filter-form">
            <div class="form-group col-sm-2" id="contain-word-div">
                <label id="contain-word-lab">Containing word(s): </label>
            </div>
            <div class="form-group col-sm-4">
                <input class="form-control" id="contain-word" ng-model="keyword">
                <span id="clear-all" class="glyphicon glyphicon-remove-circle" ng-click="setFilter('keyword',''); keyword=''"></span>
            </div>
            <div class="col-sm-3">
                <button class="button-search btn btn-primary btn-block" ng-click="setFilter('keyword', keyword)">
                    Search
                </button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Options
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" ng-click="togglePeakQCData()">
                            <span class="glyphicon glyphicon-ok" ng-show="peakqc"></span>Samples passing peak quality controls</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" ng-click="toggleAllQCData()">
                            <span class="glyphicon glyphicon-ok" ng-show="allqc"></span>Samples passing all quality controls</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" ng-click="toggleCompletedData()">
                            <span class="glyphicon glyphicon-ok" ng-show="completed"></span>Show completed samples</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="filter_section">
            <div class="col-sm-4">
                <div class="filter" id="specie-filter">
                    <label>
                        <h2>Species</h2></label>
                    <ul>
                        <li class="checked" ng-class="{checked: selectedFilterRow('species') == -1}" ng-click="selectFilterRow('species', -1); setFilter('species', 'all')"> All
                        </li>
                        <li ng-repeat="specie in ['Homo sapiens', 'Mus musculus'] track by $index" ng-bind="specie" ng-class="{checked: selectedFilterRow('species') == $index}" ng-click="selectFilterRow('species', $index);setFilter('species',specie)"></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4" ng-class='{"col-sm-push-4": factorFirst}'>
                <div class="filter" id="cell-filter">
                    <label>
                        <h2>Biological Sources</h2></label>
                    <ul>
                        <li class="checked" ng-class="{checked: selectedFilterRow('cellinfos') == -1}" ng-click="selectFilterRow('cellinfos', -1); setFilter('cellinfos', 'all')"> All
                        </li>
                        <li ng-repeat='cellinfo in cellinfos' ng-class="{checked: selectedFilterRow('cellinfos') == $index}" ng-click="selectFilterRow('cellinfos', $index); setFilter('cellinfos',cellinfo.join('_'))" ng-bind="cellinfo[1]"></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4" ng-class='{"col-sm-pull-4": factorFirst}'>
                <div class="filter" id="factor-filter">
                    <label>
                        <button id="toggle-factor-filter" class="btn btn-xs btn-default" ng-click="toggleFilterOrder()">
                            <i class="fa" ng-class='{"fa-angle-double-left": !factorFirst, "fa-angle-double-right": factorFirst}'></i>
                        </button>
                        <h2> Factors</h2>
                    </label>
                    <ul>
                        <li class="checked" ng-class="{checked: selectedFilterRow('factors') == -1}" ng-click="selectFilterRow('factors', -1); setFilter('factors', 'all')"> All
                        </li>
                        <li ng-repeat='factor in factors' id="{{factor}}" ng-class="{checked: selectedFilterRow('factors') == $index}" ng-click="selectFilterRow('factors', $index); setFilter('factors', factor)" ng-bind="factor"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default" id="result-panel">
                <div class="panel-heading">
                    <h2>Results</h2></div>
                <table class="table table-bordered table-hover" id="dataset-table" ts-wrapper>
                    <thead>
                        <tr>
                            <th>Batch</th>
                            <th class="tablesort-sortable" ng-click="setFilter('colsort', 'specie')">Species</th>
                            <th class="tablesort-sortable" ng-click="setFilter('colsort', 'bs')">Biological Source</th>
                            <th class="tablesort-sortable" ng-click="setFilter('colsort', 'factor')">Factor</th>
                            <th class="tablesort-sortable" ng-click="setFilter('colsort', 'pub')">Publication</th>
                            <th>Status</th>
                            <th>Quality Control</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dataset in datasets" ng-class="{checked: selectedInspectorRow() == $index}" ts-repeat>
                            <td><input ng-hide="dataset.status!='completed'" type="checkbox" ng-change="sendSelect2(datasets[$index].selected, dataset)" ng-model="datasets[$index].selected"/></td>
                            <td ng-bind="dataset.species__name"  ng-click="selectInspectorRow($index); setInspector(dataset.id, dataset.species__name)"></td>
                            <td ng-bind="dataset | bioSource"  ng-click="selectInspectorRow($index); setInspector(dataset.id, dataset.species__name)"></td>
                            <td ng-bind="dataset.factor__name"  ng-click="selectInspectorRow($index); setInspector(dataset.id, dataset.species__name)"></td>
                            <td ng-bind="dataset.paper__pub_summary"  ng-click="selectInspectorRow($index); setInspector(dataset.id, dataset.species__name)"></td>
                            <td ng-bind="dataset.status" ng-click="selectInspectorRow($index); setInspector(dataset.id, dataset.species__name)"></td>
                            <td id="qc-circles">
                                <div class="circle-col">
                                    <div class="circle" ng-class="{green: dataset.qc_judge.fastqc, red: !dataset.qc_judge.fastqc}" data-toggle="tooltip" data-html="true" data-placement="auto" title="<strong class='text-primary'>Sequence Quality:</strong><br> Raw sequence median quality score and raw read GC contents" dc-tooltip></div>
                                </div>
                                <div class="circle-col">
                                    <div class="circle" ng-class="{green: dataset.qc_judge.map, red: !dataset.qc_judge.map}" data-toggle="tooltip" data-html="true" data-placement="auto" title="<strong class='text-primary'>Mapping Quality:</strong><br> Uniquely mapped ratio" dc-tooltip></div>
                                </div>
                                <div class="circle-col">
                                    <div class="circle" ng-class="{green: dataset.qc_judge.pbc, red: !dataset.qc_judge.pbc}" data-toggle="tooltip" data-html="true" data-placement="auto" title="<strong class='text-primary'>Library Complexity:</strong><br> PCR bottleneck coefficient (PBC)" dc-tooltip></div>
                                </div>
                                <div class="circle-col">
                                    <div class="circle" ng-class="{green: dataset.qc_judge.peaks, red: !dataset.qc_judge.peaks}" data-toggle="tooltip" data-html="true" data-placement="auto" title="<strong class='text-primary'>ChIP enrichment:</strong><br> Sufficient number of peaks(above 500) with good enrichment(10 fold change)" dc-tooltip></div>
                                </div>
                                <div class="circle-col">
                                    <div class="circle" ng-class="{green: dataset.qc_judge.frip, red: !dataset.qc_judge.frip}" data-toggle="tooltip" data-html="true" data-placement="auto" title="<strong class='text-primary'>Signal to Noise Ratio:</strong><br> Fraction of reads in peaks (FRiP)" dc-tooltip></div>
                                </div>
                                <div class="circle-col">
                                    <div class="circle" ng-class="{green: dataset.qc_judge.dhs, red: !dataset.qc_judge.dhs}" data-toggle="tooltip" data-html="true" data-placement="auto" title="<strong class='text-primary'>Regulatory Region:</strong><br>  'DNase-seq union hypersensitive sites' (DHS) overlapped ratio in top 5000 peaks " dc-tooltip></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center form-inline" id="pagination">
                    <!-- <button id="batchbrowser" href="#"  ng-click="gbSubmit('w')" class="btn btn-primary left-align"> -->
                    <!--     WashU browser <span class="glyphicon glyphicon-leaf"></span></button> -->
                    <!-- <button id="batchbrowser" href="#"  ng-click="gbSubmit('u')" class="btn btn-primary left-align"> -->
                    <!--     UCSC browser <span class="glyphicon glyphicon-leaf"></span></button> -->
                    <button id="prev-page-button" href="#" ng-class="{disabled: !pageCanPrev()}" ng-click="setFilter('page', current_page - 1)" class="btn btn-default top-align"><span class="glyphicon glyphicon-backward"></span> Prev
                    </button>
                    
                    <div class="top-align">Page</div>
                    <div ng-class='{"has-success": pageInRange(), "has-warning": !pageInRange()}' class="form-group" id="current-page-form">
                        <input type="number" ng-model="request_page" name="number" step="1" data-bv-integer-message=" " size="3" class="form-control">
                    </div>
                    <button id="goto-page-button" href="#" ng-class='{"btn-success": pageInRange(), "btn-warning disabled": !pageInRange()}' class="btn top-align" ng-click="setFilter('page', request_page)">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                    <div class="top-align">of</div>
                    <div class="top-align" id="num-pages" ng-bind="num_pages"></div>
                    <button id="next-page-button" href="#" ng-class="{disabled: !pageCanNext()}" ng-click="setFilter('page', current_page + 1)" class="btn btn-default top-align">
                        Next <span class="glyphicon glyphicon-forward"></span></button>
                </div>
                <div class="text-center form-inline">

		    <a target="_blank" ng-click="clearSelect()" id="genomebrowser-bw" type="button" class="btn btn-default left-align">Clear Selection</a>
                    <a target="_blank" ng-class="{disabled: gbable}" ng-href="{{browser_url}}/w/" id="genomebrowser-bw" type="button" class="btn btn-default left-align"><span class="glyphicon glyphicon-leaf">WashU Browser</span></a>
                    <a target="_blank" ng-class="{disabled: gbable}" ng-href="{{browser_url}}/u/" id="genomebrowser-bw" type="button" class="btn btn-default left-align">UCSC Browser</a>
                </div>

            </div>
        </div>
    </div>
    <div class="container" style="color: red">
    <!--Please support the continued development and maintenance of Cistrome DB by leaving your testimonial. <a href="#/testimonial"><span class="badge" style="background: #0099CC">GO!</span></a>-->
    Please help us curate the samples which has incorrect meta-data annotation by clicking the button on the inspector page. Thank you!
    </div><br>
    <div class="row" id="inspector_row" ng-hide="inspectorHidden">
        <div class="col-sm-12 inspector">
            <div class="panel panel-default" id="inspector-panel">
                <div class="panel-heading">
                    <h2 id="inspector-header">Inspector <span ng-bind="inspector.id" ng-show="!datasetIDHidden"></span></h2>
                </div>
                <div class="row margin-zero">
                    <div class="col-sm-9">
                        <div class="row inspector_attrib_row">
                            <div class="col-sm-3"><b>Title:</b></div>
                            <div class="col-sm-9 inspector_attrib_value">
                                <b>Treatment</b>
                                <ul>
                                    <li ng-repeat="treat in inspector.treats">
                                        <a ng-href="{{treat.link}}" ng-bind="treat.name" target="_blank"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row inspector_attrib_row">
                            <div class="col-sm-3"><b>ID:</b></div>
                            <div class="col-sm-9 inspector_attrib_value">
                                <p class="tight-line"><b>GEO or ENCODE: </b><span><a ng-href="{{inspector.treats[0].link}}" ng-bind="inspector.treats[0].unique_id" target="_blank"></a></span></p>
                                <p class="tight-line"><b>CistromeDB: </b><span ng-bind="inspector.id"></span></p>
                            </div>
                        </div>

                        <div class="row inspector_attrib_row">
                            <div class="col-sm-3"><b>Species:</b></div>
                            <div class="col-sm-9 inspector_attrib_value" ng-bind="datasetHead.species__name"></div>
                        </div>
                        <div class="row inspector_attrib_row">
                            <div class="col-sm-3"><b>Citation:</b></div>
                            <div class="col-sm-9 inspector_attrib_value">
                                <div ng-bind="datasetHead.paper__reference"></div>
                                <span>PMID:</span>
                                <a ng-href="http://www.ncbi.nlm.nih.gov/pubmed/{{datasetHead.paper__pmid}}" ng-bind="datasetHead.paper__pmid"></a>
                            </div>
                        </div>
                        <div class="row inspector_attrib_row">
                            <div class="col-sm-3"><b>Factor:</b></div>
                            <div class="col-sm-9 inspector_attrib_value" ng-bind="datasetHead.factor__name"></div>
                        </div>
                        <div class="row inspector_attrib_row">
                            <div class="col-sm-3"><b>Biological Source:</b></div>
                            <div class="col-sm-9 inspector_attrib_value">
                                <p class="tight-line" ng-hide="!datasetHead.cell_line__name"><b>Cell
        Line: </b><span ng-bind="datasetHead.cell_line__name"></span></p>
                                <p class="tight-line" ng-hide="!datasetHead.cell_type__name"><b>Cell
        Type: </b><span ng-bind="datasetHead.cell_type__name"></span></p>
                                <p class="tight-line" ng-hide="!datasetHead.cell_pop__name"><b>Cell
        Pop: </b><span ng-bind="datasetHead.cell_pop__name"></span></p>
                <p class="tight-line" ng-hide="!datasetHead.strain__name"><b>Strain: </b><span ng-bind="datasetHead.strain__name"></span></p>
                <p class="tight-line" ng-hide="!datasetHead.tissue_type__name">
                  <b>Tissue: </b><span ng-bind="datasetHead.tissue_type__name"></span></p>
                <p class="tight-line" ng-hide="!datasetHead.disease_state__name"><b>Disease: </b><span ng-bind="datasetHead.disease_state__name"></span></p>
              </div>
            </div>
            <div class="row inspector_attrib_row">
            <!--  <a target="_blank" ng-click="comment()" id="genomebrowser-bw" type="button" class="btn btn-warning left-align">Modify Informations</a> -->
                <a target="_blank" ng-click="comment()" id="genomebrowser-bw" type="button" class="btn btn-warning left-align">Meta-data Correction</a>
              <div class="col-sm-12" ng-show="commentBox">
                <form role="form" class="form-horizontal" name="comform">
                  <div class="input-group">
                    <!--<input type="text" class="form-control" placeholder="your comment on samples curation" ng-model="commentContent" required autofocus>
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="sendcomment(id, commentContent)" ng-disabled="comform.$invalid"><span class="glyphicon glyphicon-send"></span></button>
                    </div>-->
                    <div class="col-md-12 col-md-offset-1">
                      <br />
                      <!--<p class="lead text-info"><strong>You can report mistakes or make supplements for us to check. <br />Thanks for your correction!</strong></p>-->
                      <p class="lead text-info"><strong>Please fill in your correction in this page. <br /></strong></p>
                      <div class="comment-warning" ng-show="inspector.treats[0].is_correcting" style="color: red">
                        <!--<p><b>This annotation is being corrected, please wait us to have a check before your next submittion.</b></p>-->
                        <p><b>A submitted correction has been received, we are checking.</b></p>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <p><label>Treatment:</label>
                            <input class="form-control comment-input" ng-model="inspector.treats[0].name" ng-change="input_changed()" autocomplete="off"></input></p>
                          <p><label>Species:</label>
                            <input class="form-control comment-input" ng-model="datasetHead.species__name" ng-change="input_changed()" autocomplete="off"></input></p>
                          <p><label>PMID:</label>
                            <input class="form-control comment-input" ng-model="datasetHead.paper__pmid" ng-change="input_changed()" autocomplete="off"></input></p>
                          <p><label>Factor:</label>
                            <input class="form-control comment-input" ng-model="datasetHead.factor__name" ng-change="input_changed()" autocomplete="off"></input></p>
                          <p><label>Cell Line:</label>
                            <input class="form-control comment-input" ng-model="datasetHead.cell_line__name" ng-change="input_changed()" autocomplete="off"></input></p>
                          <p><label>Comment (Optional):</label>
                            <input class="form-control comment-input" ng-model="commentContent" ng-change="input_changed()" placeholder="Leave Your Comment Here." autocomplete="off"></input></p>
                        </div>
                        <div class="col-sm-6">
                          <p><label>Cell Type:</label>
                            <input class="form-control comment-input" ng-model="datasetHead.cell_type__name" ng-change="input_changed()" autocomplete="off"></input></p>
                          <p><label>Cell Pop:</label>
                            <input class="form-control comment-input" ng-model="datasetHead.cell_pop__name" ng-change="input_changed()" autocomplete="off"></input></p>
                          <p><label>Strain:</label>
                            <input class="form-control comment-input" ng-model="datasetHead.strain__name" ng-change="input_changed()" autocomplete="off"></input></p>
                          <p><label>Tissue:</label>
                            <input class="form-control comment-input" ng-model="datasetHead.tissue_type__name" ng-change="input_changed()" autocomplete="off"></input></p>
                          <p><label>Disease:</label>
                            <input class="form-control comment-input" ng-model="datasetHead.disease_state__name" ng-change="input_changed()" autocomplete="off"></input></p>
                          <p><label>Email Address (Optional):</label>
                            <input class="form-control comment-input" ng-model="commentEmail" placeholder="We won't bother you unless necessary."></input></p>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="form-group pull-right">
                          <button class="btn btn-primary" ng-click="sendcomment(id, inspector.treats[0].name, datasetHead.species__name, datasetHead.paper__pmid, datasetHead.factor__name, datasetHead.cell_line__name, datasetHead.cell_type__name, datasetHead.cell_pop__name, datasetHead.strain__name, datasetHead.tissue_type__name, datasetHead.disease_state__name, commentContent, commentEmail)" ng-disabled="!commentChange">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row inspector-sub">
              <div class="col-sm-12" ng-hide="toolHidden">
                <strong>Quality Control</strong>
              </div>
              <div class="col-sm-12" id="qc-circles">
                <div class="circle-col">
                  <div class="circle" ng-class="{green: inspector.qc.judge.fastqc, red: !inspector.qc.judge.fastqc}" data-toggle="tooltip" data-html="true" data-placement="auto" title="<strong class='text-primary'>Sequence Quality:</strong><br> Raw sequence median quality score and raw read GC contents" dc-tooltip></div>
                </div>
                <div class="circle-col">
                  <div class="circle" ng-class="{green: inspector.qc.judge.map, red: !inspector.qc.judge.map}" data-toggle="tooltip" data-html="true" data-placement="auto" title="<strong class='text-primary'>Mapping Quality:</strong><br> Uniquely mapped ratio" dc-tooltip></div>
                </div>
                <div class="circle-col">
                  <div class="circle" ng-class="{green: inspector.qc.judge.pbc, red: !inspector.qc.judge.pbc}" data-toggle="tooltip" data-html="true" data-placement="auto" title="<strong class='text-primary'>Library Complexity:</strong><br> PCR bottleneck coefficient (PBC)" dc-tooltip></div>
                </div>
                <div class="circle-col">
                  <div class="circle" ng-class="{green: inspector.qc.judge.peaks, red: !inspector.qc.judge.peaks}" data-toggle="tooltip" data-html="true" data-placement="auto" title="<strong class='text-primary'>ChIP enrichment:</strong><br> Sufficient number of peaks(above 500) with good enrichment(10 fold change)" dc-tooltip></div>
                </div>
                <div class="circle-col">
                  <div class="circle" ng-class="{green: inspector.qc.judge.frip, red: !inspector.qc.judge.frip}" data-toggle="tooltip" data-html="true" data-placement="auto" title="<strong class='text-primary'>Signal to Noise Ratio:</strong><br> Fraction of reads in peaks (FRiP)" dc-tooltip></div>
                </div>
                <!--&lt;!&ndash;       <div class="circle-col">-->
                <!--<div class="circle" data-toggle="tooltip" data-html="true" data-placement="auto"-->
                <!--title="<strong class='text-primary'>Evolutionary Conservation:</strong><br> Phastcons (mammals) conservation score around the peak summits"-->
                <!--dc-tooltip></div>-->
                <!--</div> &ndash;&gt;-->
                <div class="circle-col">
                  <div class="circle" ng-class="{green: inspector.qc.judge.dhs, red: !inspector.qc.judge.dhs}" data-toggle="tooltip" data-html="true" data-placement="auto" title="<strong class='text-primary'>Regulatory Region:</strong><br>  'DNase-seq union hypersensitive sites' (DHS) overlapped ratio in top 5000 peaks " dc-tooltip></div>
                </div>
                <!--&lt;!&ndash; <div class="circle-col"> &ndash;&gt;-->
                <!--&lt;!&ndash; <div class="circle" ng-class="{true: 'green', false: 'red', NA: 'grey'}[inspector.qc.judge.motif_judge]" data-toggle="tooltip" data-html="true" data-placement="auto" title="<strong class='text-primary'>Motif:</strong><br> Enrichment of corresponding motifs in peaks" dc-tooltip></div> &ndash;&gt;-->
                <!--&lt;!&ndash; </div> &ndash;&gt;-->
              </div>
            </div>
            <div class="row inspector-sub">
              <div class="col-sm-12">
                <strong>Visualize</strong>
              </div>
              <div class="col-sm-12">
                <div class="btn-group">
                  <a target="_blank" ng-href="http://epigenomegateway.wustl.edu/browser/?genome={{washuGenome}}&datahub=http://dc2.cistrome.org/api/datahub/{{inspector.id}}&gftk=refGene,full" ng-class="{disabled: toolHidden}" id="genomebrowser-bw" type="button" class="btn btn-default button-list">WashU Browser</a>
                  <a target="_blank" ng-href="http://dc2.cistrome.org/api/hgtext/{{inspector.id}}/?db={{ucscGenome}}" ng-class="{disabled: toolHidden}" id="genomebrowser-bw" type="button" class="btn btn-default button-list">UCSC Browser</a>
                </div>
              </div>
              <div class="col-sm-12">
                <strong>Download</strong>
              </div>
              <div class="col-sm-12">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle button-list download-button" data-toggle="dropdown" ng-class="{disabled: toolHidden}">BED Peaks<span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu">
                    <li id="file-bed"><a class="download" target="_blank" ng-href="http://dc2.cistrome.org/api/downloads/{{inspector.sign}}b">Download
            to My Computer</a></li>
                                        <li>
                                            <form method="POST" action="http://cistrome.org/ap/tool_runner" id="bed_sender">
                                                <input type="HIDDEN" value="cistrome_cr" name="tool_id">
                                                <input type="HIDDEN" value="bed" name="data_type">
                                                <input type="HIDDEN" value="http://dc2.cistrome.org/api/file?type=bed&id={{inspector.id}}" name="URL">
                                                <input type="HIDDEN" value="{{inspector.id}}_peaks.bed" name="name">
                                            </form>
                                            <a href ng-click="send_bed()">Send to Analysis Pipeline</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle button-list download-button" data-toggle="dropdown" ng-class="{disabled: toolHidden}">BIGWIG File<span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <form method="POST" action="http://cistrome.org/ap/tool_runner" id="bw_sender">
                                                <input type="HIDDEN" value="cistrome_cr" name="tool_id">
                                                <input type="HIDDEN" value="bigwig" name="data_type">
                                                <input type="HIDDEN" value="http://dc2.cistrome.org/api/file?type=bw&id={{inspector.id}}" name="URL">
                                                <input type="HIDDEN" value="{{inspector.id}}.bw" name="name">
                                            </form>
                                            <a href ng-click="send_bw()">Send to Analysis Pipeline</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <a id="putative-target-file" type="button" class="btn btn-default button-list" href="http://dc2.cistrome.org/api/downloads/{{ inspector.sign }}p" ng-class="{disabled: toolHidden}">Putative
          Targets</a>
                                </div>
                                <!-- <a class="btn btn-default btn-block download-button" id="download-report" href="" download target="_blank">-->
      <!--     QC Report -->
                                <!-- </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="inspectorHidden || toolHidden" id="tools_row">
        <div class="col-sm-12 tools">
            <div class="panel panel-default" id="tools-panel">
                <div class="panel-heading">
                    <h2 id="tools-header">Tools <span id="dataset-id" class="hidden"></span></h2>
                </div>
                <div class="row" id="toolTabSection">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs nav-justified" role="tablist" id="toolTab">
                            <li class="active"><a href="#qc-reports" class="quality-a" dc-tab>QC reports</a></li>
                            <!-- <li ng-hide="inspector.qc.judge.motif_judge=='NA'"><a href="#qc-motif" class="motif-a" ng-click="setMotifHtml(inspector.id)" dc-tab>QC motifs</a></li> -->
                            <li ng-hide="!motif"><a href="#qc-motif" class="motif-a" ng-click="setMotifHtml(inspector.id)" dc-tab>QC motifs</a></li>
                            <li><a href="#allTarget" id="target-trigger" class="target-a" ng-click="setTarget('')" dc-tab>Get
    top putative targets</a></li>
                            <li><a href="#peak" class="peak-a" dc-tab>Check a putative target</a></li>
                            <li ng-show="false"><a href="#similar" class="similar-a"  ng-click="setSimilar(inspector.id);" dc-tab>Find similar samples</a></li>
                        </ul>
                        <div id="toolTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="qc-reports">
                                <div class="tool-content table-responsive" id="qc-reports-content" class="qc-reports-content-600px">
                                    <table class="table table-striped table-bordered" id="qc-tables">
                                        <thead>
                                            <tr>
                                                <th>QC</th>
                                                <!--         <th ng-repeat="sample in table.sample" ng-bind="sample"></th>-->
                                                <th ng-repeat="sample in table.sample">Sample</th>
                                            </tr>
                                            <tbody>
                                                <tr>
                                                    <td>Raw sequence median quality score</td>
                                                    <td ng-repeat="seqScore in table.fastqc track by $index" ng-bind="seqScore"></td>
                                                </tr>
                                                <tr>
                                                    <td>% Reads uniquely mapped</td>
                                                    <td ng-repeat="uniqueMap in table.map track by $index" ng-bind="uniqueMap"></td>
                                                </tr>
                                                <tr>
                                                    <td>PCR bottleneck coefficient (PBC)</td>
                                                    <td ng-repeat="pbc in table.pbc track by $index" ng-bind="pbc"></td>
                                                </tr>
                                                <tr>
                                                    <td>Number of merged Total/Fold 10/Fold 20 peaks</td>
                                                    <td ng-bind="table.peaks.join(' / ')" colspan="{{columnCnt}}"></td>
                                                </tr>
                                                <tr ng-show="isNaN(table.peak_reps)">
                                                    <td>Number of Total/Fold 10/Fold 20 peaks in each replicate</td>
                                                    <td ng-repeat="peaksReps in table.peaks_reps track by $index" ng-bind="peaksReps"></td>
                                                </tr>
                                                <tr>
                                                    <td>Fraction of reads in peaks (FRiP)</td>
                                                    <td ng-repeat="frip in table.frip track by $index" ng-bind="frip"></td>
                                                </tr>
                                                <!--       <tr>
        <td>% Reads in promoter / exon / DHS regions</td>
        <td ng-repeat="emeta in table.e_meta track by $index"
            ng-bind="emeta"></td>
      </tr> -->
                                                <tr ng-show="isNaN(inspector.qc.overlap)">
                                                    <td>Number of overlapping peaks</td>
                                                    <td ng-bind="parseInt(inspector.qc.overlap)" colspan="{{columnCnt}}"></td>
                                                </tr>
                                                <tr ng-show="isNan(table.reps)">
                                                    <td>Wiggle correlation coefficient</td>
                                                    <td ng-bind="table.reps" colspan="{{columnCnt}}"></td>
                                                </tr>
                                                <tr>
                                                    <td> % Peaks in promoter/exon/intron/intergenic</td>
                                                    <td ng-bind="table.meta" colspan="{{columnCnt}}"></td>
                                                </tr>
                                                <tr>
                                                    <td> % Top 5k peaks overlapping with union DHS</td>
                                                    <td ng-bind="table.dhs" colspan="{{table.treat_number+table.control_number}}"></td>
                                                </tr>
                                                <tr>
                                                    <td class="conserv"> % Top 5k peaks Phastcon Conservation Profiles
                                                    </td>
                                                    <td colspan="{{table.treat_number+table.control_number}}" class="conserv">
                                                        <img ng-src="http://dc2.cistrome.org/api/conserv?id={{inspector.id}}" class="img-rounded conserv"> </img>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="qc-motif">
                                <!--<div class="row">
    <div class="col-sm-12 table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="motif">
        <tr>
          <th>Gene</th>
          <th>Z Score</th>
          <th>Hits</th>
          <th>Logo</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="motif in motifs">
          <td ng-bind="motif.factors" class="motif"></td>
          <td ng-bind="motif.zscore | motifZscore" class="motif"></td>
          <td ng-bind="motif.hits" class="motif"></td>
          <td>
    <img ng-src="http://cistrome.org/dc/motif_logo?id={{ inspector.id }}&logoid={{ motif.id }}" class="img-rounded motifImg"> </img>
          </td>
        </tr>
        </tbody>


      </table>
    </div>
  </div>-->
                                <div class="tool-content table-responsive" id="motif-reports-content" class="motif-reports-content-600px">
                                    <!-- height=700px width=100% 
 height=200px width=100% -->
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" ng-src="{{currentMotifUrl}}" name="iframe_motif"></iframe>
                                    </div>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" ng-src="{{currentLogo}}" name="ftop"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="peak">
                                <div class="tool-content">
                                    <div class="row">
                                        <div class="form" role="form">
                                            <div class="form-group col-sm-11">
                                                <!--           <label for="gene_query">Check whether this gene is a putative
            target: </label>
          <angucomplete id="mygene_genes"
                        placeholder="Search genes"
                        pause="400"
                        selectedObject="gene_query"
                        url="http://mygene.info/v2/query?fields=symbol%2Cname&species={{mygeneSpecies}}&q="
                        datafield="hits"
                        titlefield="symbol"
                        minlength="2"
                        descriptionfield="name"
                        inputclass="form-control"/> -->
                                                <angucomplete-alt id="ex1" placeholder="Search Genes" pause="400" selected-object="setTarget" text-searching="Search for regulatory potential" remote-url="http://mygene.info/v2/query?fields=symbol%2Cname&species={{mygeneSpecies}}&q=" remote-url-data-field="hits" title-field="symbol" minlength="1" description-field="name" input-class="form-control form-control-small" clear-selected="true" match-class="angucomplete-match" class="ng-isolate-scope"></angucomplete-alt>
                                            </div>
                                            <!--         <div class="col-sm-3">
                                   <button class="btn btn-primary btn-block" id="around-gene-search"
                  ng-click="setTarget(selectedGene.title)">
                   Search 
              </button>
        </div> -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-bordered table-condensed" ng-hide="">
                                                <thead>
                                                    <tr>
                                                        <th>Gene</th>
                                                        <th>Score</th>
                                                        <th>Coordinate</th>
                                                        <th>Visualize</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="target in targets">
                                                        <td ng-bind="target.symbol"></td>
                                                        <td ng-bind="target.score"></td>
                                                        <td ng-bind="target.coordinate"></td>
                                                        <td><a target="_blank" ng-href="http://epigenomegateway.wustl.edu/browser/?genome={{washuGenome}}&datahub=http://dc2.cistrome.org/api/datahub/{{inspector.id}}&gftk=refGene,full&coordinate={{target.visual_coordinate}}" class="btn btn-default btn-xs">WashU</a>
                                                            <a target="_blank" ng-href="http://dc2.cistrome.org/api/hgtext/{{inspector.id}}/?db={{ucscGenome}}&position={{target.visual_coordinate | escape}}" class="btn btn-default btn-xs">UCSC</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="similar">
                                <div class="tool-content listboxclass">
                                    <table class="table table-striped table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Species</th>
                                                <th>Biological Source</th>
                                                <th>Factor</th>
                                                <th>Publication</th>
                                                <!--<th>Status</th>-->
                                                <th>Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="similar in similars | orderBy:predicate:true" ng-class="{checked: selectedInspectorRow() == similar.id}" ng-click="setWindow(similar.id)">
                                                <td ng-bind="similar.species__name"></td>
                                                <td ng-bind="similar | bioSource"></td>
                                                <td ng-bind="similar.factor__name"></td>
                                                <td ng-bind="similar.paper__pub_summary"></td>
                                                <td ng-bind="similar.score"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="allTarget">
                                <div class="tool-content">
                                    <table class="table table-striped table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Gene</th>
                                                <th>Score</th>
                                                <th>Coordinate</th>
                                                <th>Visualize</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="target in targetsAll">
                                                <td ng-bind="target.symbol"></td>
                                                <td ng-bind="target.score"></td>
                                                <td ng-bind="target.coordinate"></td>
                                                <td><a target="_blank" class="external" ng-href="http://epigenomegateway.wustl.edu/browser/?genome={{washuGenome}}&datahub=http://dc2.cistrome.org/api/datahub/{{inspector.id}}&gftk=refGene,full&coordinate={{target.visual_coordinate}}" class="btn btn-default btn-xs">WashU</a>
                                                    <a target="_blank" class="external" ng-href="http://dc2.cistrome.org/api/hgtext/{{inspector.id}}/?db={{ucscGenome}}&position={{target.visual_coordinate | escape}}" class="btn btn-default btn-xs">UCSC</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="batch-open-button">
    <i ng-class="{openbatch: openbatch, closebatch:!openbatch}" class='glyphicon glyphicon-th' ng-click="open('lg')"></i>
</div> -->

