<head>
<style>
table, th, td {
    border: 1px solid gray;
    padding:4px;
    margin:2px;
    font-family: "Helvetica", "Sans-serif";
}
</style>
</head>
<script>
function display_file(submit)
{
	var name=document.getElementById("name").value;  
    var institute=document.getElementById("institute").value; 
    var comment=document.getElementById("textarea").value;
	var httpRequest = new XMLHttpRequest();
	httpRequest.open("GET", "./testmonials.txt", true);
	if (submit=='true'){
		httpRequest.send(null);
		httpRequest.onreadystatechange = function()
		{

		if(this.readyState == 4 && this.status == 200)
		{
		var fileContent = this.responseText;
		var fileArray = fileContent.split('\n');
		var n = fileArray.length;

		var table='<table width=100% style="background:#FFFFF0;padding: 10px;">';
		table += '<tr VALIGN=TOP>' + '<td><p>' + name +' (' + institute + ') says: '+comment+ '</p></td>'  + '</tr>'
		for (var i=1; i<fileArray.length; i++) {
			var rowArray = fileArray[i].split('\t');
			if (rowArray[0] != ''){
			row = '<td><p>' + rowArray[0] +' (' + rowArray[1] + ') says: '+rowArray[2]+ '</p></td>';	
			table += '<tr VALIGN=TOP>' + row  + '</tr>';	
		}
		}
		table += '</table>';

		document.getElementById('para').innerHTML = '<I>Sometimes the comments show up delayed, please try again by clicking the switch option if you cannot find yourself.</I><br>' + table;
		}
		}
	} else {
		httpRequest.send(null);
		httpRequest.onreadystatechange = function()
		{

		if(this.readyState == 4 && this.status == 200)
		{
		var fileContent = this.responseText;
		var fileArray = fileContent.split('\n');
		var n = fileArray.length;

		var table='<table width=100% style="background:#FFFFF0;padding: 10px;">';
		for (var i=1; i<fileArray.length; i++) {
			var rowArray = fileArray[i].split('\t');
			if (rowArray[0] != ''){
			row = '<td><p>' + rowArray[0] +' (' + rowArray[1] + ') says: '+rowArray[2]+ '</p></td>';	
			table += '<tr VALIGN=TOP>' + row  + '</tr>';	
		}
		}
		table += '</table>';

		document.getElementById('para').innerHTML = '<I>Sometimes the comments show up delayed, please try again by clicking the switch option if you cannot find yourself.</I><br>' + table;
		}
		}
	}
}
</script>
<script type="text/javascript">
	var show=function(){
		var display=document.getElementById('display').value;
		var name=document.getElementById("name").value;  
	    var institute=document.getElementById("institute").value; 
	    var comment=document.getElementById("textarea").value;
		if (display=='true'  & name!='' & institute!='' & comment!=''){
			display_file('false');
		} else {
			document.getElementById("para").innerHTML = '';
		}
	}
</script>
<script type="text/javascript">
	var test=function() {  
        var name=document.getElementById("name").value;  
        var institute=document.getElementById("institute").value; 
        var comment=document.getElementById("textarea").value;
        var display=document.getElementById('display').value;
        if(name=='') {  
            alert("Name is empty!");
        } else if (institute==''){  
            alert("Institue is empty"); 
        } else if (comment==''){
        	alert("Comments is empty"); 
        } else {
        	var answer = confirm("Thanks for your testimonial!")
			if (answer) {
			    document.getElementById("myForm").submit();
			    if (display=='true'){
			    	display_file(display);
				}
			}
			else {
			    location.reload(true);
			}
        }
        };
</script>

<body>
	<div class='container'>
	<center>
	<h4 style="color: red">Please support the continued development and maintenance of Cistrome DB by leaving your testimonial.</h4><br>
	<iframe name="server" style="display:none;" src=' '></iframe> 
	<form id = 'myForm' action = 'http://cistrome.org/cgi-bin/rongbin/testimonial_test.py' method = 'post' target="server"  onsubmit='
	var name=document.getElementById("name").value;  
    var institute=document.getElementById("institute").value; 
    var comment=document.getElementById("textarea").value;
    if ( name != "" & institute != "" & comment != "" ){
        this.myButton.value="Submitted, Thanks!";
        this.myButton.disabled=true;
    }'>
	<!-- <form id = 'myForm' action = '' method = 'post' target="server" onsubmit="this.myButton.value='Submitted';
	this.myButton.disabled=true"> -->
	<div class="row">
		<h4>
			Name: <input id='name' name='name' type="text" maxlength="100"> 
			Institute:<input id='institute' name='institute' type="text" maxlength="100">
		</h4>
	</div>
	<div>
		<h4>Please leave your comments here:<br></h4>
			<textarea class="form-control" aria-label="With textarea" type="text" name="textarea" id='textarea' style="width: 700px;height: 200px; font-size:12pt;color:black;" placeholder="Please in English!"></textarea><br>
	</div>
	<div>
		<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
	   	 	<select id='display' onchange="show()">
	    		<option value='true'>You may display these comments on this website.</option>
	    		<option>Please do not display these comments on this website.</option>
	    		<!-- <option value='all'>Display all.</option> -->
	    	</select>
    	</span>
		<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
			<input type="submit" class="btn btn-primary" name="myButton" onclick="test()">
		</span>
	</div>
	</form>
	</center>
	<div id='para' class='container-fluid'>
		<br>
	</div>
	<div>
</body>





