body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.margin-zero{
    margin: 0;
}

.inspector_attrib_row {
    border-bottom: 1px #d6d6d6 solid;
    border-right: 1px #d6d6d6 solid;
}

.row .inspector-sub {
    margin-top: 10px;
    margin-bottom: 1em;
}

.circle-col {
    width: 12.5%;
    margin-top: 6px;
    position: relative;
    float: left;
}

.circle {
    background: #A9A9A9;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    margin: 0 auto;
}

.green {
    background-color: #27ae60;
}

.red {
    background-color: #c0392b;
}

.tool-content{
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-color: #FFF;
}

.ifram-qc-html{
	position: absolute;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>li>a:hover{
  background-color: #EAE8E8;
  cursor: pointer;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.paginationactive{
  background-color: #EAE8E8!important;
}
.pagi{
  width: 100%;
  text-align: center;
}
.center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.button-list {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
}
.dropdown-menu {
  width: 100%;
}
.dropdown-menu>li>a {
    cursor: pointer;
}

div.btn-group {
  width:100%;

}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.complete-dropdown {
    overflow-y: auto;
    max-height: 400px;
    border-color: rgb(236, 236, 236);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 10px;
    z-index: 999;
    position: relative;
    margin-top: 0px;
    margin-left: 15px;
    background-color: #fff;
}

.complete-row:hover {
    cursor: pointer;
    background-color: gray;
}

[v-cloak]{
    display: none;
}













