{% extends "datacollection/DC_browser_base.html" %}
{% block body %}
<body>
  <div class="container">
  <form action='' method='POST'>{% csrf_token %}
    {{ form }}
    <label>Verify before download please: </label>
    <button class="btn btn-primary" text="Download" type="submit" /><span class="glyphicon glyphicon-download-alt"></span></button>
  </form>
  </div>
{% endblock %}
