<!doctype html>
<html class="no-js">
<head>
  <meta http-equiv="pragma" content="no-cache">
  <meta charset="utf-8">
  <title>Cistrome DB</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
  <link rel="stylesheet" href="bower_components/angular-block-ui/dist/angular-block-ui.css" />
  <link rel="stylesheet" href="bower_components/c3/c3.css" />
  <link rel="stylesheet" href="bower_components/ngtoast/dist/ngToast.css" />
  <link rel="stylesheet" href="bower_components/videogular-themes-default/videogular.css" />
  <link rel="stylesheet" href="bower_components/Trip.js/dist/trip.css" />
  <link rel="stylesheet" href="bower_components/angular-tablesort/tablesort.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">

  <!-- endbuild -->
</head>

<body ng-app="dcApp" ng-controller="filterController">

  <nav class="navbar" role="navigation" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://cistrome.org/db">Cistrome Data Browser</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#/">Home</a></li>
        <ul class="nav navbar-nav">
          <li><a href="#/documents">Documentation</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a href="#/about">About</a></li>
        </ul>
        <!-- <ul class="nav navbar-nav">
          <li><a href="#/tutorial">Tutorial</a></li>
        </ul> -->
        <ul class="nav navbar-nav">
          <li><a href="#/stat">Statistics</a></li>
        </ul>
        <!-- <ul class="nav navbar-nav">
          <li><a href="#/faq">FAQ</a></li>
        </ul> -->
        <!-- <ul class="nav navbar-nav">
          <li><a href="#/cite">Citation</a ></li>
        </ul> -->
        <ul class="nav navbar-nav">
          <li><a href="#/bdown">Batch download</a ></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a href="http://dbtoolkit.cistrome.org" target="_blank">ToolKit</a ></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://liulab.dfci.harvard.edu/" target="_blank">Liu Lab</a ></li>
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">
          <li><a ng-href="{{login_url}}"><span id="account-status" ng-bind="login_text"></span><span
            class="glyphicon glyphicon-chevron-right"></span></a></li>
        </ul> -->
      </div>
    </div>
  </nav>

  <div class="bs-docs-header" id="content">
	<div class="container"><h1><img style="vertical-align:center; width:10%;height:10%;" src='cistrome_logo.png'> Cistrome Data Browser</h1></div>
<!--    <div class="container"><h1><i class="fa fa-dashboard"></i>Data Browser</h1></div>

    <div class="container"><h1><i class="fa fa-dashboard"></i>Reminder: some disks are under maintainance.</h1></div>
-->
  </div>

  <ng-view></ng-view>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<!--<script>-->
<!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
<!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
<!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
<!--})(window,document,'script','//www.google-analytics.com/analytics.js','ga');-->

<!--ga('create', 'UA-XXXXX-X');-->
<!--ga('send', 'pageview');-->
<!--</script>-->

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angucomplete/angucomplete.js"></script>
<script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/c3/c3.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/ngtoast/dist/ngToast.js"></script>
<script src="bower_components/videogular/videogular.js"></script>
<script src="bower_components/waypoints/waypoints.js"></script>
<script src="bower_components/SHA-1/sha1.js"></script>
<script src="bower_components/angulartics/src/angulartics.js"></script>
<script src="bower_components/angulartics/src/angulartics-adobe.js"></script>
<script src="bower_components/angulartics/src/angulartics-chartbeat.js"></script>
<script src="bower_components/angulartics/src/angulartics-cnzz.js"></script>
<script src="bower_components/angulartics/src/angulartics-flurry.js"></script>
<script src="bower_components/angulartics/src/angulartics-ga-cordova.js"></script>
<script src="bower_components/angulartics/src/angulartics-ga.js"></script>
<script src="bower_components/angulartics/src/angulartics-gtm.js"></script>
<script src="bower_components/angulartics/src/angulartics-kissmetrics.js"></script>
<script src="bower_components/angulartics/src/angulartics-mixpanel.js"></script>
<script src="bower_components/angulartics/src/angulartics-piwik.js"></script>
<script src="bower_components/angulartics/src/angulartics-scroll.js"></script>
<script src="bower_components/angulartics/src/angulartics-segmentio.js"></script>
<script src="bower_components/angulartics/src/angulartics-splunk.js"></script>
<script src="bower_components/angulartics/src/angulartics-woopra.js"></script>
<script src="bower_components/angulartics/src/angulartics-marketo.js"></script>
<script src="bower_components/angulartics/src/angulartics-intercom.js"></script>
<script src="bower_components/videogular-angulartics/vg-analytics.js"></script>
<script src="bower_components/videogular-buffering/vg-buffering.js"></script>
<script src="bower_components/videogular-controls/vg-controls.js"></script>
<script src="bower_components/videogular-ima-ads/vg-ima-ads.js"></script>
<script src="bower_components/videogular-overlay-play/vg-overlay-play.js"></script>
<script src="bower_components/videogular-poster/vg-poster.js"></script>
<script src="bower_components/Trip.js/dist/trip.js"></script>
<script src="bower_components/angular-tablesort/js/angular-tablesort.js"></script>
<!-- endbower -->
<!-- endbuild -->


<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/main_service.js"></script>
<script src="scripts/controllers/main_controller.js"></script>
<script src="scripts/controllers/test.js"></script>
<script src="scripts/directives/resizer.js"></script>
<!-- endbuild -->


<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//cistrome.org/~qqin/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//cistrome.org/~qqin/piwik/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

<!--
<script type="text/javascript">
    $(document).ready(function() {
        tl.pg.init();
    })
</script>
-->
</body>

</html>
