body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;  
    justify-content: center;
    align-content: center;
    align-items: center;
    height:100%;
    margin: 0;
    padding: 0;
}

.canvas 
{
    fill: lightblue;
    opacity: 0.3;
    padding-left:10px;
/*    position: relative;
    margin-left:10%;
    margin-right:10%;*/
}

.verticalGrid
{
    fill: none;
    shape-rendering: crispEdges;
    stroke: white;
    stroke-width: 1px;
}

.title 
{
    text-anchor: middle;
    font-size: 16px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.whisker
{
    stroke-width: 1px;
}

.median
{
    stroke: black;
    stroke-width: 1.3px;
}

.box
{
    opacity: 0.5;
}

circle 
{
    stroke: none;
    shape-rendering: crispEdges;
}

.categoryLabel 
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.95em;
    font-weight: bold;
}

.outlier 
{
    opacity: 0.7;
}

.point 
{
    opacity: 0.7;
}

.axis path 
{
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis line 
{
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text 
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
}

div.tooltip 
{   
    position: absolute;         
    text-align: center;                                              
    padding: 3px;               
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;  
    font-weight: bold;       
    /*pointer-events: none;           */
}

/*.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}*/