{% extends 'datacollection/DC_browser_base.html' %}

{% block body %}
    <div class="container">
         <h1>You are logged out</h1>
         <a href="http://dc2.cistrome.org">Return to main page</a>
    </div>
{% endblock %}
