<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Toolkit for CistromeDB </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="{% static 'css/similar.css' %}" rel="stylesheet" >
</head>

<body>
<span id="spinner" style="display:none;"><h2><img src="http://www.broadwaybalancesamerica.com/images/ajax-loader.gif"/><br/>Processing...</h2></span>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://dbtoolkit.cistrome.org/">Toolkit</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://dbtoolkit.cistrome.org/">Home</a></li>
          <!--<li><a href='https://docs.google.com/document/d/1WQ4ox-0queoIq7LktniKqR1hwcJ955E250KJT1dyUx0/edit?usp=sharing' target='_blank'>Documents</a><li>-->
          <li><a href="document">Documentation</a></li>
          <li><a href='http://liulab.dfci.harvard.edu/' target='_blank'>Liu Lab</a><li>
<!--          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://cistrome.org/db/#/">Back to CistromeDB</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>




<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-toolbox"></i> Toolkit for Cistrome Data Browser</h1>
  </div>
</div>
   
<!-- For the function RP ranking -->
<div class="container" id="input_form">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <!-- <h3 class="panel-title">Datasets ranking by regulatory potential on your interested gene or tanscript</h3> -->
<!--          <h3 class="panel-title">What regulators are targeting your gene?</h3> -->
            <h3 class="panel-title">What factors regulate your gene of interest?</h3>
        </div>
        <div class="panel-body">
          <div class="container">
            <form class="form-group" method="get">
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="row col-form-label">
                      <label for="species">Species</label>
                    </label>
                    <div class="row">
                      <select class="form-control" name="specie" id="species">
                        <option selected value="hg38">Human hg38</option>
                        <option value="mm10">Mouse mm10</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="row col-form-label">
                      <label for="gene">Gene or transcript</label>
                    </label>
                    <div class="row">
                      <input class="form-control" id="keyword" name="keyword" placeholder="GAPDH or NM_001289746" required>
                    </div>
                  </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="row col-form-label">
                    <label for="tdata">Data type in Cistrome</label>
                    </label>
                    <div class="row">
                      <select class="form-control" name="factor" id="factor">
                        <option selected value="factor">Transcription factor, chromatin regulator</option>
                        <option value="hmca">Histone mark and variants, chromatin accessbility</option>
                      </select>
                    </div>
                    <label class="row col-form-label">
                      <label>The distance to transcription start site (peaks within this distance will be summarized)</label>
                    </label>
                  <div class="form-group">
                    <div class="row">
                      <select class="form-control" name="distance" id="distance">
                        <option value="1k">1kb</option>
                        <option value="10k">10kb</option>
                        <option selected value="100k">100kb</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                  <input class="btn btn-primary" type="submit" value="Submit" id="rpInput">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- For the function interval ranking -->
<div class="container" id="input_form">
  <div class="row">
    <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <!-- <h3 class="panel-title">Datasets ranking by peak enrichment on your interested interval</h3> -->
        <h3 class="panel-title">What factors bind in your interval?</h3>
      </div>
      <div class="panel-body">
        <div class="container">
          <form class="form-group" method="get">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="row col-form-label">
                    <label for="species">Species</label>
                  </label>
                  <div class="row">
                    <select class="form-control" name="specie" id="specie">
                      <option selected value="hg38">Human hg38</option>
                      <option value="mm10">Mouse mm10</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="row col-form-label">
                    <label for="tdata">Data type in Cistrome</label>
                  </label>
                  <div class="row">
                    <select class="form-control" name="factor" id="factor">
                      <option selected value="tf">Transcription factor, chromatin regulator</option>
                      <option value="hm">Histone mark and variants</option>
                      <option value="ca">Chromatin accessbility</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="row col-form-label">
                    <label>Interval (genome cordinate)</label>
                  </label>
                <div class="form-group">
                  <div class="row">
                    <input type="text" class="form-control" id="interval" name="interval" placeholder="chr6:151690496-152103274, maximum size to 2Mb" pattern="^chr[0-9xyXY]{1,2}:[0-9,]+[-|:][0-9,]+$" title="Please format your input, chr:start-end" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-sm-5"></div>
              <div class="col-sm-2">
                <input class="btn btn-primary" type="submit" value="Submit" id="interInput">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- For the function similar searching -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <!-- <h3 class="panel-title">Datasets ranking by your interested peak sets</h3> -->
        <h3 class="panel-title">What factors have a significant binding overlap with your peak set?</h3>
      </div>
      <div class="panel-body">
        <div class="container">
          <form class="form-group" enctype="multipart/form-data" method="post">
          {% csrf_token %}
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="row col-form-label">
                    <label for="species">Species</label>
                  </label>
                  <div class="row">
                    <select class="form-control" name="specie" id="specie">
                      <option selected value="hg38">Human hg38</option>
                      <option value="mm10">Mouse mm10</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="row col-form-label">
                    <label for="tdata">Data type in Cistrome</label>
                  </label>
                  <div class="row">
                    <select class="form-control" name="factor" id="factor">
                      <option selected value="tf">Transcription factor, chromatin regulator</option>
                      <option value="hm">Histone mark and variants</option>
                      <option value="ca">Chromatin accessbility</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <!-- <div class="form-group">
                  <label class="row col-form-label">
                    <label>Sample number to return</label>
                  </label>
                  <div class="row">
                    <input class="form-control" id="par" type="number" step="5" min="5" max="200" name="par" value="200" placeholder="1~200">
                  </div>
                </div> -->
                <div class="form-group">
                  <label class="row col-form-label">
                    <label>Peak number of Cistrome sample to use</label>
                  </label>
                  <div class="row">
                    <select class="form-control" name="tpeak" id="tpeak">
                      <option selected value="1k">Top 1k peaks according to peak enrichment</option>
                      <option value="10k">Top 10k peaks according to peak enrichment</option>
                      <option value="all">All peaks in each sample</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="row col-form-label">
                    <label for="peak">Bed file</label>
                    <I style="font-weight:normal;">(three columns are required: chromosome, start site, end site, and tab delimited, maximum of 50,000 peaks)</I>
                  </label>
                  <div class="row">
                    <input type="file" name="peak" id="peak" accept=".bed, .txt" required>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <div class="form-group">
                  <label class="row col-form-label">
                    <label for="peak">Bed file</label>
                    <I style="font-weight:normal;">(three columns are required: chromosome, start site, end site, and tab delimited)</I>
                  </label>
                  <div class="row">
                    <input type="file" name="peak" id="peak" accept=".bed, .txt" required>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-sm-5"></div>
              <div class="col-sm-2">
                <input class="btn btn-primary" type="submit" value="Submit" id="simInput">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>



<!-- <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
<script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!-- <script src="https://unpkg.com/vue"></script> -->
<!-- <script type="text/javascript" src='//cdn.bootcss.com/vue-resource/1.2.0/vue-resource.min.js'></script> -->
<!-- <script type="text/javascript" src="{% static 'js/similar.js' %}"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#simInput').click(function(){
      var fileSize = $("#peak")[0].files[0].size;
      var fileName = $("#peak")[0].files[0].name.split('.').pop();
      if (fileSize>=2097152) {
        alert("Plese check the file size, it should be no more than 2MB!!!")
        return false
      }else if(fileName!='bed' && fileName!='txt'){
        alert("Illigal file format! We only support peak bed file!")
        return false
      }else{
        $.blockUI({message: $('#spinner')});
      };
    });

    $('#rpInput').click(function(){
      var inputGene = $("#keyword").val();
      if (inputGene) {
        $.blockUI({message: $('#spinner')});
      };
    });

    $('#interInput').click(function(){
      var inputVal = $("#interval").val();
      var reg = /^chr[0-9xyXY]{1,2}:[0-9,]+[-|:][0-9,]+$/;
      var creg = new RegExp(',', 'g')
      var start=new Number(inputVal.split(':')[1].split('-')[0].replace(creg, ""));
      var end=new Number(inputVal.split(':')[1].split('-')[1].replace(creg, ""));
      if (reg.test(inputVal) && ((end-start) <= 2000000)){
        $.blockUI({message: $('#spinner')});
      } else if ((end-start) > 2000000) {
        alert('only support interval size < 2Mb');
        return false
      }
    });

  });
</script>


</body>
</html>
