<!DOCTYPE>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Cistrome similar data search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/similar.css' %}" rel="stylesheet" >
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <style type="text/css">
      body{
    /*    padding: 30px;
    */    position: center;
      }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://dbtoolkit.cistrome.org/">ToolKit</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://dbtoolkit.cistrome.org/">Home</a></li>
          <li><a href="document">Documents</a></li>
          <li><a href='http://liulab.dfci.harvard.edu/' target='_blank'>Liu Lab</a><li>
<!--          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://cistrome.org/db/#/">Back to CistromeDB</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container" id="holdplace">
  <div class="row">
    <br/><br/>
  </div>
</div>

<div class="container" id="resultPanel" v-if="loadData({{datas}})" v-cloak>
  <span id="spinner" style="display:none;"><h1><img src="http://www.broadwaybalancesamerica.com/images/ajax-loader.gif"/><br/>Please wait...</h1></span>
  <div class="row">
    <div class="col-sm-12" v-if="datas">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Results</h3>
        </div>
        <div class="panel-body" style="padding: 0">
          <div class="row">
            <div class="col-sm-12">
              <ul class="nav nav-tabs nav-justified" role="tablist">
                <li @click="setResult('table')" :class="{active: result.table}">
                  <a href="#table_result">Result in table</a>
                </li>
                <li @click="setResult('plot')" :class="{active: result.plot}">
                  <a href="#plot_result">Result in figure</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-content">
            <div class="tool-content" v-if="result.table">
              <table class="table table-bordered table-hover" v-if="datas.giggle">
                <thead>
                  <tr>
                    <th>Batch</th>
                    <th>Species</th>
                    <th @click="sort('uid')"><i :class="checkSort('uid')"></i> GSM ID</th>
                    <th @click="sort('biosource')"><i :class="checkSort('biosource')"></i> Biological Resource</th>
                    <th @click="sort('factor')"><i :class="checkSort('factor')"></i> Factor</th>
                    <th @click="sort('distance')"><i :class="checkSort('distance')"></i> Giggle Score</th>
                  </tr>
                </thead>
                <tbody v-for="sdata in sortTable">
                  <tr>
                    <td>
                      <input type="checkbox" :value="sdata.sid" v-model="batchIds">
                    </td>
                    <td v-text="sdata.specie" @click="dataInfo(sdata.sid)"></td>
                    <td v-text="sdata.uid" @click="dataInfo(sdata.sid)"></td>
                    <td v-text="sdata.biosource" @click="dataInfo(sdata.sid)"></td>
                    <td v-text="sdata.factor" @click="dataInfo(sdata.sid)"></td>
                    <td v-text="sdata.distance" @click="dataInfo(sdata.sid)"></td>
                  </tr>
                </tbody>
              </table>
              <div class="col-sm-12 center">
                <ul class="pagination">
                  <li :class="{disabled: curPage === 1}">
                    <a aria-label="Previous" @click="prePage()"> << </a>
                  </li>
                  <li v-for="np in datas.npage" :class="{active: curPage === np}">
                    <a v-text="np" @click="jumpPage(np)"></a>
                  </li>
                  <li :class="{disabled: curPage === datas.npage}">
                    <a aria-label="Next" @click="nextPage()"> >> </a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-12 center" v-if="datas.items[0].specie == 'Homo sapiens'">
                <a class="btn btn-primary" :href="['http://dbtoolkit.cistrome.org/download/?fname='+datas.fname]" target="_blank">Download</a>
                <a class="btn btn-primary" :href="['http://dc2.cistrome.org/api/batchview/h/'+viewIds()+'/w/']" target="_blank">WashU Browser</a>
                <a class="btn btn-primary" :href="['http://dc2.cistrome.org/api/batchview/h/'+viewIds()+'/u/']" target="_blank">UCSC Browser</a>
                <div class="row"> </div>
              </div>
              <div class="col-sm-12 center" v-else>
                <a class="btn btn-primary" :href="['http://dbtoolkit.cistrome.org/download/?fname='+datas.fname]" target="_blank">Download</a>
                <a class="btn btn-primary" :href="['http://dc2.cistrome.org/api/batchview/m/'+viewIds()+'/w/']" target="_blank">WashU Browser</a>
                <a class="btn btn-primary" :href="['http://dc2.cistrome.org/api/batchview/m/'+viewIds()+'/u/']" target="_blank">UCSC Browser</a>
                <div class="row"> </div>
              </div>
              <br/>
            </div>
          </div>
          <div class="tab-content">
            <div class="tool-content" v-if="result.plot">
              <div class="col-sm-12">
               <!-- <p style="font-family:Arial">Tips:<br/>
                  1. Regulatory potential (RP) is a score to estimate how possible the factor can regulate a gene.<br>
                  2. X axis represents the RP score. Y axis represents different factors. Dots in a y axis line means same factor.<br>
                  3. Double click a region or scroll mouse to zoom in, and click “ReSet” to back.<br>
                  4. Find sample information by clicking the GSM number in the tip box of each dot.<br>
                </p> -->
              </div>
              <div class="col-sm-12">
                  <iframe src="{{ form.link }}" style="margin: 0; padding: 0; border: 0; width: 1100px; height: 1000px"></iframe>
                <!-- width="1400" height="1000" -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% verbatim %}
<div class="container resinspector" id="resultInspector" v-cloak>
  <div class="row">
    <div class="col-sm-12" v-if="inspector">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Inspector</h3>
        </div>
        <div class="panel-body" style="padding: 0;">
          <div class="col-sm-9 margin-zero">
            <div class="row inspector_attrib_row">
              <div class="col-sm-3">
                <b>Title:</b>
              </div>
              <div class="col-sm-9">
                <b>Treatment</b>
                <ul>
                  <li>
                    <a :href="['https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc='+inspector.treats[0].unique_id]" v-text="inspector.treats[0].name"></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row inspector_attrib_row">
              <div class="col-sm-3">
                <b>GEO or ENCODE:</b>
              </div>
              <div class="col-sm-9">
                <b>ID</b>
                <ul>
                  <li>
                    <a :href="inspector.treats[0].link" v-text="inspector.treats[0].unique_id" target="_blank"></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row inspector_attrib_row">
              <div class="col-sm-3">
                <b>Species:</b>
              </div>
              <div class="col-sm-9">
                <p v-text="inspector.treats[0].species__name"></p>
              </div>
            </div>
            <div class="row inspector_attrib_row">
              <div class="col-sm-3">
                <b>Citation:</b>
              </div>
              <div class="col-sm-9">
                <p v-text="inspector.treats[0].paper__reference"></p>
                <p>
                  <a :href="['https://www.ncbi.nlm.nih.gov/pubmed/'+inspector.treats[0].paper__pmid]" v-text="'PMID: '+inspector.treats[0].paper__pmid"></a>
                </p>
              </div>
            </div>
            <div class="row inspector_attrib_row">
              <div class="col-sm-3">
                <b>Factor:</b>
              </div>
              <div class="col-sm-9">
                <p v-text="inspector.treats[0].factor__name"></p>
              </div>
            </div>
            <div class="row inspector_attrib_row">
              <div class="col-sm-3">
                <b>Biological Source:</b>
              </div>
              <div class="col-sm-9">
                <p class="tight-line" v-if="inspector.treats[0].cell_line__name"><b>Cell line: </b>{{inspector.treats[0].cell_line__name}}</p>
                <p class="tight-line" v-if="inspector.treats[0].cell_type__name"><b>Cell type: </b>{{inspector.treats[0].cell_type__name}}</p>
                <p class="tight-line" v-if="inspector.treats[0].cell_pop__name"><b>Cell population: </b>{{inspector.treats[0].cell_pop__name}}</p>
                <p class="tight-line" v-if="inspector.treats[0].strain__name"><b>Strain: </b>{{inspector.treats[0].strain__name}}</p>
                <p class="tight-line" v-if="inspector.treats[0].tissue_type__name"><b>Tissue type: </b>{{inspector.treats[0].tissue_type__name}}</p>
                <p class="tight-line" v-if="inspector.treats[0].disease_state__name"><b>Disease: </b>{{inspector.treats[0].disease_state__name}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 margin-zero">
            <div class="row inspector-sub">
              <div class="col-sm-12">
                <strong>Quality Control</strong>
              </div>
              <div class="col-sm-12">
                <div class="circle-col">
                  <div class="circle" :class="{green: inspector.qc.judge.fastqc, red: !inspector.qc.judge.fastqc}" data-toggle="tooltip" data-html="true" data-placement="auto" title="Hello"></div>
                </div>
                <div class="circle-col">
                  <div class="circle" :class="{green: inspector.qc.judge.map, red: !inspector.qc.judge.map}"></div>
                </div>
                <div class="circle-col">
                  <div class="circle" :class="{green: inspector.qc.judge.pbc, red: !inspector.qc.judge.pbc}"></div>
                </div>
                <div class="circle-col">
                  <div class="circle" :class="{green: inspector.qc.judge.peaks, red: !inspector.qc.judge.peaks}"></div>
                </div>
                <div class="circle-col">
                  <div class="circle" :class="{green: inspector.qc.judge.frip, red: !inspector.qc.judge.frip}"></div>
                </div>
              </div>
            </div>
            <div class="row inspector-sub">
              <div class="col-sm-12">
                <strong>Visualize</strong>
              </div>
              <div class="col-sm-12">
                <div class="btn-group" v-if="inspector.treats[0].species__name == 'Homo sapiens'">
                  <a target="_blank" id="washu" class="btn btn-default button-list" :href="['http://epigenomegateway.wustl.edu/browser/?genome=hg38&datahub=http://dc2.cistrome.org/api/datahub/'+inspector.id+'&gftk=refGene,full']">WashU Browser</a>
                  <a target="_blank" id="ucsc" class="btn btn-default button-list" :href="['http://dc2.cistrome.org/api/hgtext/'+inspector.id+'/?db=hg38']">UCSC Browser</a>
                </div>
                <div class="btn-group" v-else>
                  <a target="_blank" id="washu" class="btn btn-default button-list" :href="['http://epigenomegateway.wustl.edu/browser/?genome=mm10&datahub=http://dc2.cistrome.org/api/datahub/'+inspector.id+'&gftk=refGene,full']">WashU Browser</a>
                  <a target="_blank" id="ucsc" class="btn btn-default button-list" :href="['http://dc2.cistrome.org/api/hgtext/'+inspector.id+'/?db=mm10']">UCSC Browser</a>
                </div>
              </div>
            </div>
            <div class="row inspector-sub">
              <div class="col-sm-12">
                <strong>Download</strong>
              </div>
              <div class="col-sm-12">
                <div class="btn-group dropdown">
                  <button type="button" class="btn btn-default button-list">BED Peaks
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a target="_blank" id="bedpeak" class="download" :href="['http://dc2.cistrome.org/api/downloads/'+inspector.sign+'b']">Download to My Computer</a>
                    </li>
                    <li>
                      <form method="POST" action="http://cistrome.org/ap/tool_runner" id="bed_sender">
                        <input type="HIDDEN" value="cistrome_cr" name="tool_id">
                        <input type="HIDDEN" value="bed" name="data_type">
                        <input type="HIDDEN" :value="['http://dc2.cistrome.org/api/file?type=bed&id='+inspector.id]" name="URL">
                        <input type="HIDDEN" :value="[inspector.id+'_peaks.bed']" name="name">
                      </form>
                      <a @click="send_bed()">Send to Analysis Pipeline</a>
                    </li>
                  </ul>
                </div>
                <div class="btn-group dropdown">
                  <button type="button" class="btn btn-default button-list">BIGWIG File
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <!-- <li>
                      <a target="_blank" id="bigwig" class="download" :href="['http://dc2.cistrome.org/api/downloads/'+inspector.sign+'b']">Download to My Computer</a>
                    </li> -->
                    <li>
                      <form method="POST" action="http://cistrome.org/ap/tool_runner" id="bw_sender">
                        <input type="HIDDEN" value="cistrome_cr" name="tool_id">
                        <input type="HIDDEN" value="bigwig" name="data_type">
                        <input type="HIDDEN" :value="['http://dc2.cistrome.org/api/file?type=bw&id='+inspector.id]" name="URL">
                        <input type="HIDDEN" :value="[inspector.id+'.bw']" name="name">
                      </form>
                      <a @click="send_bw()">Send to Analysis Pipeline</a>
                    </li>
                  </ul>
                </div>
                <div class="btn-group">
                  <a target="_blank" id="targets" class="btn btn-default button-list" :href="['http://dc2.cistrome.org/api/downloads/'+inspector.sign+'p']">Putative Targets</a>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}


{% verbatim %}
<div class="container" id="resultTool" v-cloak>
  <div class="row" v-if="inspector">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tools</h3>
        </div>
        <div class="panel-body" style="padding: 0;">
          <div class="row">
            <div class="col-sm-12">
              <ul class="nav nav-tabs nav-justified" role="tablist">
                <li @click="setTools('qc')" :class="{active: tools.qc}">
                  <a href="#qc_reports">QC reports</a>
                </li>
                <li v-if="inspector.motif" @click="setTools('motif')" :class="{active: tools.motif}">
                  <a href="#motif_html">QC motifs</a>
                </li>
                <li @click="setTools('gtargets')" :class="{active: tools.gtargets}">
                  <a href="#getTarget">Get top putative targets</a>
                </li>
                <li @click="setTools('ctargets')" :class="{active: tools.ctargets}">
                  <a href="#checkTarget">Check a putative target</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-content">
            <div class="tool-content" v-if="tools.qc">
              <table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th><b>QC</b></th>
                  <th><b>Sample</b></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Raw sequence median quality score</td>
                  <td>{{ inspector.qc.table.fastqc[0] }}</td>
                </tr>
                <tr>
                  <td>% Reads uniquely mapped</td>
                  <td>{{ inspector.qc.table.map[0] }}</td>
                </tr>
                <tr>
                  <td>PCR bottleneck coefficient (PBC)</td>
                  <td>{{ inspector.qc.table.pbc[0] }}</td>
                </tr>
                <tr>
                  <td>Number of merged Total/Fold 10/Fold 20 peaks  </td>
                  <td>{{ inspector.qc.table.peaks[0] }} / {{ inspector.qc.table.peaks[1] }} / {{ inspector.qc.table.peaks[2] }}</td>
                </tr>
                <tr>
                  <td>Fraction of reads in peaks (FRiP)</td>
                  <td>{{ inspector.qc.table.frip[0] }}</td>
                </tr>
                <tr>
                  <td>% Peaks in promoter/exon/intron/intergenic</td>
                  <td>{{ inspector.qc.table.meta[0] }}</td>
                </tr>
                <tr>
                  <td>% Top 5k peaks overlapping with union DHS</td>
                  <td>{{ inspector.qc.table.dhs }}</td>
                </tr>
                <tr>
                  <td><br/><br/><br/><br/><br/><br/>% Top 5k peaks Phastcon Conservation Profiles</td>
                  <td>
                    <img :src="['http://dc2.cistrome.org/api/conserv?id='+inspector.id]" height="260" width="260">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="tool-content" v-if="tools.motif">
              <iframe class="col-sm-12" :src="['http://dc2.cistrome.org/'+inspector.motif_url]" height="600"></iframe>
            </div>
            <div class="tool-content" v-if="tools.gtargets">
              <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                  <th>Gene</th>
                  <th>Score</th>
                  <th>Coordinate</th>
                  <th>Visualize</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="target in targets">
                  <td>{{target.symbol}}</td>
                  <td>{{target.score}}</td>
                  <td>{{target.coordinate}}</td>
                  <td v-if="inspector.treats[0].species__name == 'Homo sapiens'">
                    <a target="_blank" :href="['http://epigenomegateway.wustl.edu/browser/?genome=hg38&datahub=http://dc2.cistrome.org/api/datahub/'+inspector.id+'&gftk=refGene,full&coordinate='+target.coordinate]">WashU</a> &nbsp;
                    <a target="_blank" :href="['http://dc2.cistrome.org/api/hgtext/'+inspector.id+'/?db=hg38&position='+target.coordinate]">UCSC</a>
                  </td>
                  <td v-else>
                    <a target="_blank" :href="['http://epigenomegateway.wustl.edu/browser/?genome=mm10&datahub=http://dc2.cistrome.org/api/datahub/'+inspector.id+'&gftk=refGene,full&coordinate='+target.coordinate]">WashU</a> &nbsp;
                    <a target="_blank" :href="['http://dc2.cistrome.org/api/hgtext/'+inspector.id+'/?db=mm10&position='+target.coordinate]">UCSC</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="tool-content" v-if="tools.ctargets">
              <div class="row">
                <div class="col-sm-11">
                  <input v-model="inputText" placeholder="Search Genes" class="form-control" @keyup="showGene()">
                </div>
                <div class="col-sm-6 complete-dropdown" v-if="genes.hits">
                  <div class="complete-row" v-for="gene in genes.hits" @click="goTarget(gene.symbol, inspector.id)">{{gene.symbol}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12" style="padding-top: 15px;">
                  <table class="table table-striped table-bordered table-condensed">
                    <thead>
                      <tr>
                        <th>Gene</th>
                        <th>Score</th>
                        <th>Coordinate</th>
                        <th>Visualize</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="ctarget in ctargets">
                        <td>{{ctarget.symbol}}</td>
                        <td>{{ctarget.score}}</td>
                        <td>{{ctarget.coordinate}}</td>
                        <td v-if="inspector.treats[0].species__name == 'Homo sapiens'">
                          <a target="_blank" :href="['http://epigenomegateway.wustl.edu/browser/?genome=hg38&datahub=http://dc2.cistrome.org/api/datahub/'+inspector.id+'&gftk=refGene,full&coordinate='+ctarget.coordinate]">WashU</a> &nbsp;
                          <a target="_blank" :href="['http://dc2.cistrome.org/api/hgtext/'+inspector.id+'/?db=hg38&position='+ctarget.coordinate]">UCSC</a>
                        </td>
                        <td v-else>
                          <a target="_blank" :href="['http://epigenomegateway.wustl.edu/browser/?genome=mm10&datahub=http://dc2.cistrome.org/api/datahub/'+inspector.id+'&gftk=refGene,full&coordinate='+ctarget.coordinate]">WashU</a> &nbsp;
                          <a target="_blank" :href="['http://dc2.cistrome.org/api/hgtext/'+inspector.id+'/?db=mm10&position='+ctarget.coordinate]">UCSC</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}

<script src="https://unpkg.com/vue"></script>
<script type="text/javascript" src='//cdn.bootcss.com/vue-resource/1.2.0/vue-resource.min.js'></script>
<!-- <script type="text/javascript" src="{% static 'js/similar.js' %}"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>
<script type="text/javascript">
  var vmResult = new Vue({
    el: "#resultPanel",
    data: {
        datas: {},
        batchIds: [],
        url: "http://dc2.cistrome.org/api/",
        curPage: 1,
        currentSort:'distance',
        currentSortDir:'desc',
        result:{
            table: true,
            plot: false,
        },
    },
    methods: {
        dataInfo: function (ids) {
            // var resInspector = this.$el.querySelector("$resinspector")
            $.blockUI({ message: $('#spinner') }),
            // document.documentElement.scrollTop = document.body.scrollTop = 641
            $('html,body').animate({scrollTop:641},500)
            this.$http.get(this.url+'inspector?id='+ids).then(function (response) {
                insResult.inspector = response.data
                toolPanel.inspector = response.data
            }),
            this.$http.get(this.url+'putative_target_ng?id='+ids).then(function (response) {
                toolPanel.targets = response.data
                $.unblockUI()
            })
        },
        viewIds: function(){
            return this.batchIds.join('_')
        },
        loadData: function (query) {
            this.datas = query
            return true
        },
        jumpPage: function (page) {
            this.curPage = Number(page)
        },
        prePage: function () {
            if (this.curPage > 1) {
                this.curPage--
            } else {
                this.curPage = 1
            }
        },
        nextPage: function () {
            if (this.curPage < this.datas.npage) {
                this.curPage++
            } else {
                this.curPage = this.datas.npage
            }
        },
        sort: function(s) {
            //if s == current sort, reverse
            if(s === this.currentSort) {
              this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
            }
            this.currentSort = s;
        },
        setResult: function(s) {
            this.result['table'] = false
            this.result['plot'] = false
            this.result[s] = true
            if (this.result['plot']===true) {
              $("#resultInspector").hide()
              $("#resultTool").hide()
            }else{
              $("#resultInspector").show()
              $("#resultTool").show()
            };
        },
        checkSort: function(s){
            if (this.currentSort===s && this.currentSortDir==='asc') {
              return 'fa fa-sort-up'
            }else if (this.currentSort===s && this.currentSortDir==='desc') {
              return 'fa fa-sort-down'
            }else{
              return 'fa fa-sort'
            };
        },
    },
    computed: {
        sortTable: function() {
            return this.datas.items.sort((a,b) => {
                let modifier = 1;
                if(this.currentSortDir === 'desc') modifier = -1;
                if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                return 0;
            }).filter((row, index) => {
                let start = (this.curPage-1)*20;
                let end = this.curPage*20;
                if(index >= start && index < end) return true;
            });
        }
    }
  });

  var insResult = new Vue({
    el: "#resultInspector",
    data: {
        inspector: {},
    },
    methods: {
        send_bed: function(){
            return $("#bed_sender").submit()
        },
        send_bw: function(){
            return $("#bw_sender").submit()
        },
    }
  });

  var toolPanel = new Vue({
    el: "#resultTool",
    data: {
        inspector: {},
        targets: {},
        tools: {
            qc: true,
            motif: false,
            gtargets: false,
            ctargets: false
        },
        inputText: '',
        genes: {},
        ctargets: []
    },
    methods: {
        setTools: function (choose) {
            for (var item in this.tools){
                this.tools[item] = false
            }
            this.tools[choose] = true
        },
        showGene: function() {
          if (this.inspector.treats[0].species__name == 'Homo sapiens') {
            this.$http.get('http://mygene.info/v2/query?fields=symbol%2Cname&species=human&q='+this.inputText).then(function(response){
                this.genes = response.data
            })
          } else {
            this.$http.get('http://mygene.info/v2/query?fields=symbol%2Cname&species=mouse&q='+this.inputText).then(function(response){
                this.genes = response.data
            })
          }
        },
        goTarget: function(gene,ids) {
            this.$http.get('http://dc2.cistrome.org/api/putative_target_ng?gene='+gene+'&id='+ids).then(function(response){
                this.ctargets = response.data
            })
        },
    }
  });

</script>

</body>

</html>
