<!DOCTYPE>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Cistrome gene search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/similar.css' %}" rel="stylesheet" >
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <style type="text/css">
      body{
    /*    padding: 30px;
    */    position: center;
      }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://dbtoolkit.cistrome.org/">ToolKit</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://dbtoolkit.cistrome.org/">Home</a></li>
          <li><a href="document">Documentation</a></li>
          <li><a href='http://liulab.dfci.harvard.edu/' target='_blank'>Liu Lab</a><li>
<!--          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://cistrome.org/db/#/">Back to CistromeDB</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container" id="holdplace">
  <div class="row">
    <br/><br/>
  </div>
</div>

{% if not status %}
<div class="container">
  <center><h3 style="color: red"> {{ wns }} </h3></center>
</div>
{% elif transcript %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form method="get" id="myForm">
        <input type="text" name="specie" id='specie' style="display:none;" value="{{ species }}">
        <input type="text" name="distance" id='distance' style="display:none;" value="{{ distance }}">
        <input type="text" name="factor" id='factor' style="display:none;" value="{{ factor }}">
        <div class="row">
          <div class="col-sm-12">
            <center><h3 style="color: red">Please select one transcript: </h3></center>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <!-- <img src="/static/transcripts/ESR1_bar.png"> -->
                {% for i in transcript %}
              <label class="radio-inline" style="font-size:20; font-weight:bold">
                <input type="radio" name="keyword" id="keyword" value="{{ i.nm }}"> {{ i.item }}
                {% if species == 'hg38' %}
                <img src="/static/transcripts/hg38/{{ i.item }}.png">
                {% elif species == 'mm10' %}
                <img src="/static/transcripts/mm10/{{ i.item }}.png">
                {% endif %}
              </label>
              <br/>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <br/>
            <center><input class="btn btn-primary" id="submitButton" type="submit" value="Continue"></center>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

</body>

</html>


